/* Хедер */

.header {
  min-width: var(--min-width);
  position: relative;
  margin: 0;
  padding: 40px 0;
  background-color: var(--color-primary);
}

.header__wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 97px;
  height: 50px;
}

.menu__ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.menu__li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  cursor: pointer;
}

.menu__li a {
  color: var(--color-text-extra-light);
  opacity: 0.8;
  text-decoration: none;
}

.menu__li a:hover {
  opacity: 1;
}

.mobile-menu__burger-toggle {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
}

.burger-toggle__img {
  width: 100%;
  height: 100%;
}

#burger-toggle {
  display: none;
}

.mobile-menu__burger-toggle {
  display: none;
  cursor: pointer;
}

.menu__button_burger {
  display: none;
}

@media (max-width: 1440px) {
  .header__wrapper {
    margin: 0 23px 0 24px;
  }
}

@media (max-width: 1120px) {
  .header {
    padding: 24px 0 19px;
  }

  .header__menu {
  }

  .menu__ul {
    display: none;
    background-color: var(--color-primary);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: absolute;
    right: 20px;
    flex-direction: column;
    gap: 15px;
    z-index: 100;
  }

  #burger-toggle:checked ~ .menu__ul {
    display: flex;
  }

  .mobile-menu__burger-toggle {
    display: block;
    width: 30px;
    height: 30px;
  }

  .mobile-menu__burger-toggle:checked .menu__li {
    display: block;
  }

  .menu__li_burger-button {
    display: block;
  }

  .menu__li_burger-button:hover ~ .menu__li {
    display: block;
  }

  .menu__button {
    display: none;
    flex-wrap: wrap;
  }

  .menu__button_burger {
    display: block;
  }

  .menu__mobile-menu {
    display: block;
    cursor: pointer;
  }
}

.menu__mobile-menu:hover + .menu__ul {
  display: block;
}

@media (max-width: 565px) {
  .logo {
    width: 65px;
    height: 34px;
  }
}
